.logo-comparator {
    width: 13%;
}

.title-table{
  display: flex;
  color: #FF6316;
  /* margin: 0 5%;
   */
   margin: 0;
   padding: 0 7%;
  width: 80%;
}

.container-comparator{
  display: flex;
  flex-direction: column;
  width: 100%;

}

.comparator-table{
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 2%;
  justify-content: center;
}

.section-cards {
    display: flex;
    flex-direction: column;
}

.title-cards{
  margin: 0;
  padding: 0 6%;
}

.container-cards{
  display: flex;
  justify-content: space-evenly;
  padding: 2.5%;
  flex-wrap: wrap;
}
.section-selects {
    display: flex;
    justify-content: space-evenly;
    margin: 2%;
}

.search-input {
    width: 18%;
    padding: 1%;
    text-align: center;
    background-color: #C090F9;
    border: black;
    font-family: "Rubik", sans-serif;
}

.search-input::placeholder {
    color: white;
  }


.button-reset {
    width: 18%;
    padding: 1%;
    text-align: center;
    background-color: #FF6315;
    color: white;
    border: black;
    cursor: pointer;
    font-family: "Rubik", sans-serif;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.5));
}

.container-table {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.button-reset-comparation {
    cursor: pointer;
    background-color: #FF6315;
    border: black;
    padding: 0.5%;
    color: white;
    height: fit-content;
    font-family: "Rubik", sans-serif;
}
