thead {
    background-color: #A661F6;
}

tbody {
    background-color: #DCC0FB;
}

td {
    text-align: center;
    width: 12.5%;
}

th {
    width: 12.5%;
}

tr {
    width: 12.5%;
}

table {
    padding: 4%;
    width: 80%;
}

.button-select {
    cursor: pointer;
    background-color: #FF6315;
    border: black;
    color: white;
    font-family: "Rubik", sans-serif;
}
