.card-courses {
    background-color: #FFC9AD;
    width: 19%;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap; 
    margin: 0.5%;
    padding: 1%;
}

.button-course {
    background-color: #FF6315;
    border: black;
    color: white;
}
