.card-courses {
    background-color: #FFC9AD;
    width: 19%;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    margin: 0.5%;
    padding: 0.9%;
}

.card-courses p {
  margin: 2%;
}

.card-courses span {
    font-weight: bold;
}

.button-course {
    cursor: pointer;
    background-color: #FF6315;
    border: black;
    color: white;
    margin: auto;
    padding: 3%;
    width: 60%;
    height: fit-content;
    align-self: center;
    font-family: "Rubik", sans-serif;
}
